<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../Styles/home.css">
  <link rel="icon" href="C:\Users\srira\OneDrive\Desktop\vault-v1\assets\icons\Gemini_Generated_Image_jk814fjk814fjk81.png">
</head>
<body>
  <!-- Navigation -->
  <nav>
    <div id="logo"><p>Vault</p></div>
    <div id="navlinks">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">Clients</a></li>
        <li><a href="">Resources</a></li>
      </ul>
    </div>
    <div class="hamburger">☰</div>
  </nav>

  <!-- Gradient Line -->
  <div class="nav-line"></div>

  <!-- Hero Section -->
  <div id="hero">
    <p>The Destination for Data.</p>
  </div>
  <div id="hero-gif-container">
      <img src="C:\Users\srira\OneDrive\Desktop\vault-v1\assets\gifs\download.gif" alt="Data GIF" id="hero-gif">
    </div>

  <script src="C:\Users\srira\OneDrive\Desktop\vault-v1\Scripts\home.js"></script>
</body>
</html>
